*{
	margin: 0px;
	padding: 0px;
	font-size: 25px;
}
#nav-links
{
	list-style-type: none;
	background-image: coffee.jpg;
	padding: 10px;
	font-size: 40px;
}
li, a
{
	display: inline; 
	/*it shows in browser home, services, 
	testimonials and contacts inline*/
	color: red; /*TO MAKE THE COLOR OF THE LETTER RED */
	text-decoration: none;
	padding: 10px;
	transition: background-color 0.4s;
}	
a:hover
{
	background-color: black; /*to hover the home, services.....*/
}

#image-area
{
	background-image: linear-gradient(to top, rgba(189, 195, 199, 0.3)-->, rgba(44, 62, 80,08)), url(coffee.jpg);
	background-size: cover;
	/*background-position: center center;*/
	padding-top: 300px;
	padding-bottom: 1000px;
	
	background-image: url(coffee.jpg), url(coffee.jpg);
	background-position: right bottom, left top;
	background-repeat: no-repeat, repeat;

}	
#name
{
	color: red;
	width: 40%;
	text-align: left top;
}


@media screen and (max-width: 1000px) /*website will adjust if browser is maximize 
or minimize*/
{
	#nav ul li a
	{
		display: block;
		text-align: center;
		margin-bottom: 0;
		padding-bottom: 0;

	}
}
/*#testlang
{
  border: 1px solid black;
  background:url(coffee.jpg);
  background-size: 100px 80px;
  background-repeat: no-repeat;
  padding:15px;
}*/
input 
{
	height : 150%;
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover 
{
  background-color: red; /* Green */
  color: white;
}
.button1 
{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

    